.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS */

.nav-bar {
  background-color: rgb(171, 212, 143);
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 50px;
  padding-right: 30px;
  border-bottom: 5px solid black;
}

.nav-container {
  display: flex; 
  justify-content: space-evenly;
  width: 20vw;
  list-style: none;
  text-decoration: none;
}

#nav-item {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(24, 35, 22);
}

#nav-item:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.pokedex-head {
  margin-left: 50px;
}

.pokemon-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-left: 10px;
  margin-right: 50px;
}

.pokemon-card {
  list-style: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add-to-party {
  color: white;
  background-color: rgb(24, 35, 22);
  border: none;
  border-radius: 50%;
}

.remove-from-party {
  color: white;
  background-color: white;
  border: none;
  border-radius: 50%;
}

.add-to-party:hover {
  color: black;
  background-color: rgb(171, 212, 143);
  cursor: pointer;
  transition: 0.5s;
}

.pokemon-team-subheading {
  margin-left: 50px;
}

.pokemon-team-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-left: 10px;
  margin-right: 50px;
}

.pokemon-team-card {
  list-style: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}

