.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS */

/* General */

html {
  background-color: rgb(35, 43, 34);
}

/* Nav */

.nav-bar {
  background-color: rgb(113, 185, 82);
  // color: red;
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 50px;
  padding-right: 30px;
  border-bottom: 5px solid black;
}

.nav-container {
  display: flex; 
  justify-content: space-evenly;
  width: 20vw;
  list-style: none;
  text-decoration: none;
}

#nav-item {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(24, 35, 22);
}

#nav-item:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* Pokedex */

.pokedex-container {
  background-color: rgb(243, 242, 242);
  margin: 1vh 4vw;
  padding: 2.5vh 1vw 3vh 1vw;
  border-radius: 20px;
  box-shadow: rgba(255, 254, 254, 0.629) 0px 3px 8px;
  // border: 1px solid black;
}

.pokedex-head {
  margin-left: 50px;
}

.pokemon-types-clear {
  display: flex;
  align-items: center;
}

.pokemon-types-container { 
  list-style-type: none;
  display: flex;
  margin-left: 4vw;
  margin-right: 1vw;
  border: 2px solid black;
  width: 17.5vw;
  height: 2rem;
  padding: 0.5rem 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: black;
  border-radius: 7.5px;
}

#pokemon-type-list-item {
  border-radius: 10%;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.input-search {
  align-self: center;
  margin: 10px;
  margin-left: 50px;
}

.pokemon-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-left: 10px;
  margin-right: 50px;
  /* background-color: lightblue; */
}

.pokemon-card {
  list-style: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Arial, Helvetica, sans-serif;
  // background-color: rgb(66, 64, 64);
  // color: white;
}


.pokemon-card:hover {
  /* background-color: rgb(171, 212, 143); */
  cursor: pointer;
  transition: 0.5s;
}

.pokemon-card-image {
  margin: 0;
  padding: 0;
  /* background-color: #61dafb; */
}

.pokemon-card-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.pokemon-card-type-container {
  list-style-type: none;
  /* background-color: lightpink; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#pokemon-card-type-list-item {
  /* background-color: lightblue; */
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  z-index: 0;
}

.dropdown-type-container {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#dropdown-type-filter {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

#dropdown-type-filter:hover {
  cursor: pointer;
  transition: 0.35s;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

/* Types */

.type {
  &-fire {
    background-color: red;
    color: white;
  }
  &-water {
    background-color: rgb(63, 108, 255);
    color: white;
  }
}



.type-grass { 
  background-color: rgb(0, 167, 0);
  color: white;
}

.type-bug { 
  background-color: rgb(46, 229, 46);
  color: white;
}

.type-rock { 
  background-color: rgb(106, 56, 2);
  color: white;
}

.type-ground { 
  background-color: rgb(184, 109, 10);
  color: white;
}

.type-electric { 
  background-color: yellow;
  color: black;
}

.type-ice { 
  background-color: rgb(8, 246, 238);
  color: black;
}

.type-poison { 
  background-color: purple;
  color: white;
}

.type-psychic { 
  background-color: rgb(232, 76, 102);
  color: white;
}

.type-flying { 
  background-color: rgb(69, 208, 255);
  color: white;
}

.type-normal { 
  background-color: lightgray;
  color: black;
}

.type-fighting { 
  background-color: orange;
  color: white;
}

.type-steel { 
  background-color: rgb(137, 137, 137);
  color: white;
}

.type-ghost { 
  background-color: rgb(79, 17, 79);
  color: white;
}

.type-dark { 
  background-color: rgb(42, 6, 42);
  color: white;
}

.type-fairy { 
  background-color: rgb(210, 61, 178);
  color: white;
}

.type-dragon { 
  background-color: rgb(33, 46, 231);
  color: white;
}

.type-clear {
  background-color: black;
  color: white;
  width: 20vw;
  align-self: center;
  margin: auto;
  border-radius: 0;
}


.add-to-party, .remove-from-party {
  border: none;
  border-top: 2px solid black;
  height: 5vh;
  width: 100%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-to-party {
  color: black;
  background-color: rgb(171, 212, 143);
}

.remove-from-party {
  color: white;
  background-color: red;
}

.remove-from-party:hover {
  color: white;
  /* background-color: rgb(255, 58, 58); */
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.add-to-party:hover {
  color: black;
  /* background-color: rgb(84, 132, 51); */
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}


/* Team Builder */

.my-team-container {
  background-color: rgb(243, 242, 242);
  margin: 1vh 4vw;
  padding: 2.5vh 1vw 3vh 1vw;
  border-radius: 20px;
  box-shadow: rgba(255, 254, 254, 0.629) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
}

.pokemon-team-subheading {
  margin-left: 50px;
}

.pokemon-team-container {
  /* display: flex;
  flex-direction: column; */
  /* width: 30vw; */
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 50px;
}

.pokemon-team-card {
  list-style: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // margin-bottom: 1vh;
  background-color: white;
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

.weakness-report-container {
  // color: white;
}

.weak-against {
  padding: 0.25rem;
  border-radius: 10px;
}

#my-chart.column {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}